repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cd backend && cargo fmt --all
        language: system
        types: [ rust ]
        pass_filenames: false
