name: test

on:
  pull_request:

jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: "1.90.0"
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - name: cargo clippy
        run: cd backend && cargo clippy --all-targets --all-features -- -W warnings

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run all features test
        run: cd backend && cargo test --all-features
